# Source and Authentication
OPENAI_API_KEY=null
OPENAI_API_BASE=https://llm-api.arc.vt.edu/api/v1/
OPENAI_API_MODEL=gpt-oss-120b

# Tracing Configuration
LANGSMITH_API_KEY=null
LANGSMITH_TRACING_V2=true
LANGSMITH_PROJECT=HASAIM

# Behavior Detail
LOOP_COUNT = 10
TEMPERATURE = 0.3

# Excluded File Types
IGNORE=.o,.obj,.a,.so,.dll,.exe,.out,.d,.i,.s,cmake-build-debug,cmake-build-release,CMakeFiles,.vs,Debug,Release,x64,x86

# File Paths
INPUT_PATH=./input
EDITOR_PATH=./sandbox
OUTPUT_PATH=./output