# RAG Embedding API Key
CO_API_KEY=co_api_key_here
# Chatbot API Key
OPENAI_API_KEY=openai_api_key_here
# (Optional) Extends rate limits for GitHub repo access
GITHUB_TOKEN=github_token_here
# Model source
OPENAI_API_BASE=https://llm-api.arc.vt.edu/api/v1/
# Model name
OPENAI_API_MODEL=gpt-oss-120b
# ChromaDB database configuration
CHROMA_MODE=local
CHROMA_COLLECTION=boeingagent_kb
CHROMA_DIR=.chroma