# Source and Authentication
OPENAI_API_KEY=null
OPENAI_API_BASE=https://llm-api.arc.vt.edu/api/v1/
OPENAI_API_MODEL=gpt-oss-120b

# Tracing Configuration
# LANGSMITH_API_KEY=null
# LANGSMITH_TRACING_V2=true
# LANGSMITH_PROJECT=HASAIM

### Default Behavior Detail ##
# amount of attempts before code sendback stops
ATTEMPTS = 3
# how non-deterministic LLM responses should be
TEMPERATURE = 0.3
# summarize when message count exceeds this
SUMMARIZE_AFTER = 20
# how many recent messages to keep after summarizing
MESSAGES_TO_KEEP = 10

### File Handling ###
# Excluded File Types
IGNORE=.o,.obj,.a,.so,.dll,.exe,.out,.d,.i,.s,cmake-build-debug,cmake-build-release,CMakeFiles,.vs,Debug,Release,x64,x86
# Input File Paths
INPUT_PATH=workshop/input
TEST_PATH=workshop/test
# Generation/Validation Workspaces
EDITOR_PATH=workshop/editor
TESTING_PATH=workshop/testing
# Output File Paths
OUTPUT_PATH=workshop/output
RESULT_PATH=workshop/result